<div class="page-content">

    <div class="page-header">
        <h1>
            管理手册
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                帮助信息
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">1.在管理设置中的权限管理中<b><em>添加一个组</em></b></li>
            <li class="list-group-item">2.在新添加的组中点击小眼睛为组<b><em>分配权限</em></b></li>
            <li class="list-group-item">3.在管理员管理中<b><em>添加新的管理员</em></b></li>
            <li class="list-group-item">4.<b><em>给这个管理员分配这个组</em></b>，即管理员拥有该组的权限</li>
        </ul>
        </div>
    </div>
</div><!-- /.page-content -->